{{#each blogs as |blogs|}}
  <a href="/blog/{{blogs.id}}" style="text-decoration: none; color:black;">
    <div class="post">
      <div class="postin">
        <h1 class="header-post">{{blogs.name}}</h1>
        <h6>{{{loggedin}}}</h6>
        <h3 class="center">{{blogs.description}}</h3>
      </div>
    </div>
  </a>
{{/each}}